h1
{
    color: goldenrod;
    text-align: center;
}
body
{
    background-image: url("table.png");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bolder;
}
#msg-el
{
    font-style: italic;
}
p
{
    text-decoration: gray;
    font-weight: 900;
    font-size: large
}
button
{
    width: 150px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #016f32;
    font-weight: bolder;
    background-color:  goldenrod;
    border: none;
    border-radius: 3px;
    margin-bottom: 2px;
    margin-top: 2px;
}
